body {
    background-color: #fff;
}
.header-logo {
    background-color: #EEDDFF;
    border: 3.5px solid #6C5CE7;
    border-radius: 20px;
}
.main-frame{
    width: 1440px;
    height: 1286px;
    align-self: stretch;
    background-color: #fff;
    border-radius: 20px;
}